<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <script>
        function validaCPF(cpf) {
            var Soma = 0;
            var Resto;
            var strCPF = String(cpf).replace(/[^\d]/g, '');

            if (strCPF.length !== 11) return false;

            if ([
                '00000000000', '11111111111', '22222222222',
                '33333333333', '44444444444', '55555555555',
                '66666666666', '77777777777', '88888888888',
                '99999999999'
            ].indexOf(strCPF) !== -1) return false;

            for (var i = 1; i <= 9; i++)
                Soma += parseInt(strCPF.substring(i - 1, i)) * (11 - i);
            Resto = (Soma * 10) % 11;

            if (Resto === 10 || Resto === 11) Resto = 0;
            if (Resto !== parseInt(strCPF.substring(9, 10))) return false;

            Soma = 0;
            for (var i = 1; i <= 10; i++)
                Soma += parseInt(strCPF.substring(i - 1, i)) * (12 - i);
            Resto = (Soma * 10) % 11;

            if (Resto === 10 || Resto === 11) Resto = 0;
            if (Resto !== parseInt(strCPF.substring(10, 11))) return false;

            return true;
        }

        function validarFormulario(event) {
            var cpf = document.getElementById("cpf").value;
            if (!validaCPF(cpf)) {
                alert("CPF inválido! Digite um CPF válido.");
                event.preventDefault(); // Impede o envio do formulário
            }
        }
    </script>
</head>
<body>
<h1>Cadastro</h1>
<form action="/clientes/criar" method="post" onsubmit="validarFormulario(event)">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br><br>

    <label for="senha">Senha:</label>
    <input type="text" id="senha" name="senha required"><br><br>

    <label for="sobrenome">Sobrenome:</label>
    <input type="text" id="sobrenome" name="sobrenome" required><br><br>

    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf" required><br><br>

    <button type="submit">Criar Cliente</button>
</form>
</body>
</html>
